extends ../_template

block variables
  - var title = 'Home page'

block content
  header.header
    .container
      .row
        .col-xl-2.col-3.logotype
          | FlyAmour
        div.col-xl-2.ml-auto.col-3
          nav
            ul.menu.menu.d-flex.justify-content-center
                li.menu__language
                    img(src="https://image.flaticon.com/icons/svg/580/580996.svg")
                li.menu__message
                  .counter
                    |11
                  <i class="far fa-envelope"></i>
                li.menu__account
                  <i class="far fa-user"></i>
  section
    .container
      .row.main-cont
        .col-md-9.details__main_info-block
          | Детали Рейсов
        .col-md-3
          div
            img(src="http://toplogos.ru/images/logo-uzbekistan-airways.png", alt="")
        .col-md-12.information_flight
          .information_flight__name
            | Tashkent, Uzbekistan → Saint Peterburg, Russian Federation → London, United Kingdom
          .information_flight__full
            .row
              .col-md-3.col-sm-12.information_flight__full__main-info
                p Рейс: FV:6972
                P Самолёт: Boeing 319
                p Класс: Economy
                p Багаж: 1PC
              .col-md-3.col-sm-12.information_flight__full__some-info
                p Вылета: 04:50
                P 2018-04-19
                p Четверг
                p Tashkent TAS
              .col-md-3.information_flight__full__plane-time
                | Итого 15 ч 10м
                div.information_flight__full__circle-plane
                  <i class="fas fa-circle"></i>
                  <i class="fas fa-plane"></i>  
              .col-md-3.information_flight__full__end_flight
                p Прибытие 16:00,
                P 2018-04-19
                p Четверг
                p London LGW
        .col-md-3.ml-auto
          div
            img(src="http://toplogos.ru/images/logo-uzbekistan-airways.png", alt="")
        .col-xl-12.information_flight
          .information_flight__name
            | Tashkent, Uzbekistan → Saint Peterburg, Russian Federation → London, United Kingdom
          .information_flight__full
            .row
              .col-md-3.col-sm-12.information_flight__full__main-info
                p Рейс: FV:6972
                P Самолёт: Boeing 319
                p Класс: Economy
                p Багаж: 1PC
              .col-md-3.col-sm-12.information_flight__full__some-info
                p Вылета: 04:50
                P 2018-04-19
                p Четверг
                p Tashkent TAS
              .col-md-3.information_flight__full__plane-time
                | Итого 15 ч 10м
                div.information_flight__full__circle-plane
                  <i class="fas fa-circle"></i>
                  <i class="fas fa-plane"></i>  
              .col-md-3.information_flight__full__end_flight
                p Прибытие 16:00,
                P 2018-04-19
                p Четверг
                p London LGW
    section
    .container.main-cont 
      .row      
        .col-xl-12.details__main_info-block
          | Форма для бронирования:
        .form_container.col-12.information_flight
              form(action="")
                .row
                    .col-6.col-lg-3
                      p Фамилия
                      p Отчество
                      p Дата рождения
                      p Тип документа
                    .col-6.col-lg-3
                      input(type="text" name="name" class="form__input")
                      input(type="text" name="name" class="form__input")
                       
                      div.date_conteiner
                        input(type="text" name="name" class="form__input date_input" value="ДД")
                        input(type="text" name="name" class="form__input date_input" value="ММ")
                        input(type="text" name="name" class="form__input date_input" value="ГГГГ")

                      select(class="form__select")
                        option(value="Паспорт" ) Паспорт
                    .col-6.col-lg-3
                      p Имя
                      p Пол
                      p Дата рождения
                      p Тип документа
                    .col-6.col-lg-3
                      input(type="text" name="name" class="form__input")
                      div.radio-but
                        <label for="radioa" class="input-control radio">
                          <input type="radio" id="radioa" name="radio" value="radio-value">
                          <span class="input-control__indicator"></span> Мужчина
                        </label>
                        <label for="radiob" class="input-control radio">
                          <input type="radio" id="radiob" name="radio" value="radio-value">
                          <span class="input-control__indicator"></span> Женщина
                        </label>
                      div.date_conteiner
                        input(type="text" name="name" class="form__input date_input" value="ДД")
                        input(type="text" name="name" class="form__input date_input" value="ММ")
                        input(type="text" name="name" class="form__input date_input" value="ГГГГ")
                        
                      select(class="form__select")
                        option(value="Паспорт" ) Паспорт                                                 
      div.order
          .row
            .col-md-5
              <div class="checkbox">
                  <input type="checkbox" id="checkbox_1">
                  <label for="checkbox_1">Pure CSS Checkbox</label>
              </div>
              ul.rights
                li.rights__items
                  span
                    | Правила Бронирования
                li.rights__items
                  span
                    | Условие применения тарифов
                li.rights__items
                  span
                    | Правила субъекта персональных данных
            .col-md-7.ml-auto.price
               |Стоимость билета:
               span $565 
            .col-md-12
              p Я согласен подтверждаю согласие тритх лиц, указаной мной в бронировки, на обработку персональных данных, в том числе на их передачу третьим лицам , обеспечивающим или обслуживающим  перезвону а также на трансграничную передачу персональных данных.
            .col-md-12.button-price-flex
              button(type="submit" class="price__button-order") Забронировать и перейти к оплате картой                                              
                          
                
                  
          

